h1,#description{
    text-align: center;
}
#Comments{
    border-color: blue;
}
html{
    background-color: aquamarine;
}
#table{
    background-color: azure;
    margin: 20px 30% 20px 20%;
}

form{
    padding: 20px 20px 20px 20px;
}
input{
    margin: flex;
}